# Terraform lock file
**/.terraform.lock.hcl

# Include build.plan files to ignore the plan output of command: terraform plan -out=build.plan
build.plan

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
